.info-area {
    position: absolute;
    bottom: 96px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(45, 45, 45, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 205px;
    width: 195px;
    border-radius: 15px;
    padding-left: 20.5px;
}

.info-line {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 9px;
}

@media (max-width: 800px) {
    .info-area {
        height: 155px;
        width: 145px;
    }
    .info-line {
        font-size: 12px;
    }
}