.avatar {
    border-radius: 100%;
    width: 370px;
    height: 370px;
    border: 10px solid;
    clip-path: inset(0 70px 0 0);
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: -70px;
    bottom: 145px;
}

@media (max-width: 800px) {
    .avatar {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 485px) {
    .avatar {
        width: 270px;
        height: 270px;
    }
}